@import '../../../styles/styles.scss';

mat-toolbar.mat-primary {
  background-color: $primary-black;
  gap: 24px;

  mat-icon {
    font-size: 2rem;
  }

  button.menu-item {
    height: 100%;
    color: white;
    padding: 16px;
    border: none;
    text-align: left;

    &.active {
      background-color: $primary-color;
      border-top: 4px solid $primary-black;
    }

    span {
      display: block;

      &.subtitle {
        font-size: 0.8rem;
      }

      &.title {
        font-size: 1.2rem;
      }
    }
  }
}

mat-divider {
  border-width: 6px;
  border-top-color: $primary-color;
}
