@import '../../../../styles/styles.scss';

:host {
  @include flex(column);
  flex-grow: 1;
  overflow: hidden;
}

highcharts-chart {
  flex-grow: 1;
}

.empty-message {
  @include flex(column);
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: $primary-grey;
}
